In [4]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as ex

In [5]:
types = {
        'row_id': 'int64', 
        'timestamp': 'int64', 
        'user_id': 'int32', 
        'content_id': 'int16', 
        'content_type_id': 'int8',
        'task_container_id': 'int16', 
        'user_answer': 'int8', 
        'answered_correctly': 'int8', 
        'prior_question_elapsed_time': 'float32', 
        'prior_question_had_explanation': 'boolean'
}

In [18]:
train = pd.read_csv('../input/train.csv', low_memory=False, nrows=10**6, dtype=types)

In [19]:
train.head()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,0,1,3,1,NaN,<NA>
1,1,56943,115,5716,0,2,2,1,37000.0,False
2,2,118363,115,128,0,0,0,1,55000.0,False
3,3,131167,115,7860,0,3,0,1,19000.0,False
4,4,137965,115,7922,0,4,1,1,11000.0,False

In [20]:
train.memory_usage(deep=True)

Index                                 128
row_id                            8000000
timestamp                         8000000
user_id                           4000000
content_id                        2000000
content_type_id                   1000000
task_container_id                 2000000
user_answer                       1000000
answered_correctly                1000000
prior_question_elapsed_time       4000000
prior_question_had_explanation    2000000
dtype: int64

In [21]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 10 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   row_id                          1000000 non-null  int64
 1   timestamp                       1000000 non-null  int64
 2   user_id                         1000000 non-null  int32
 3   content_id                      1000000 non-null  int16
 4   content_type_id                 1000000 non-null  int8
 5   task_container_id               1000000 non-null  int16
 6   user_answer                     1000000 non-null  int8
 7   answered_correctly              1000000 non-null  int8
 8   prior_question_elapsed_time     976277 non-null   float32
 9   prior_question_had_explanation  996184 non-null   boolean
dtypes: boolean(1), float32(1), int16(2), int32(1), int64(2), int8(3)
memory usage: 31.5 MB

In [10]:
questions = pd.read_csv('../input/questions.csv')
lectures = pd.read_csv('../input/lectures.csv')
example_test = pd.read_csv('../input/example_test.csv')
example_sample_submission = pd.read_csv('../input/example_sample_submission.csv')

In [11]:
questions.head()

   question_id  bundle_id  correct_answer  part            tags
0            0          0               0     1   51 131 162 38
1            1          1               1     1       131 36 81
2            2          2               0     1  131 101 162 92
3            3          3               0     1  131 149 162 29
4            4          4               3     1    131 5 162 38

In [22]:
train.isnull().sum()
# おそらく、最初の問題に関してnullになっている

row_id                                0
timestamp                             0
user_id                               0
content_id                            0
content_type_id                       0
task_container_id                     0
user_answer                           0
answered_correctly                    0
prior_question_elapsed_time       23723
prior_question_had_explanation     3816
dtype: int64

In [23]:
train['user_id'].nunique()

3824

In [24]:
len(train)

1000000